<div>
    <span>Result: <em></em></span>
</div>
<div>
    <span>Input: <em>{{input}}</em></span>
</div>
<br>
<div>
    <button >Calculate</button>
</div>
<div>
    <button (click)="concatenate('+')">+</button>
    <button (click)="concatenate('-')">-</button>
    <button (click)="concatenate('*')">*</button>
    <button (click)="concatenate('/')">/</button>
</div>
<br>
<div>
    <button (click)="concatenate('1')">1</button>
    <button (click)="concatenate('2')">2</button>
    <button (click)="concatenate('3')">3</button>
</div>
<div>
    <button (click)="concatenate('4')">4</button>
    <button (click)="concatenate('5')">5</button>
    <button (click)="concatenate('6')">6</button>
</div>
<div>
    <button (click)="concatenate('7')">7</button>
    <button (click)="concatenate('8')">8</button>
    <button (click)="concatenate('9')">9</button>
</div>
<div>
    <button (click)="concatenate('0')">7</button>
    <button (click)="input=''">Clear</button>
</div>